
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff0000, #00c6ff); 
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: blue; 
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
  color: #f8f8f8;
}

section {
  background-color: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #007bff; 
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}


.contact-info a {
  color: #ff4747; 
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}


.get-directions {
  display: inline-block;
  padding: 15px 25px;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

.get-directions:hover {
  background-color: #218838;
  transition: background-color 0.3s ease;
}


#map {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }

  .get-directions {
    font-size: 1em;
    padding: 10px 20px;
  }
}
