body {
    font-family: Arial, sans-serif;
    background-color: #0a7acb;
    
}

h1, h2 {
    text-align: center;
}

.news-container {
    width: 80%;
    margin: 0 auto;
}

.news-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.login-form, .form-container {
    width: 300px;
    margin: 50px auto;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #0a7acb;
    color: white;
    border: none;
    cursor: pointer;
}
